@tailwind base;
@tailwind components;
@tailwind utilities;
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888888;
}
/* hot-product */
.heading-text {
    font-weight: bolder;
    padding: 12px;
    position: relative;
    margin: 20px;
}
.heading-text ::after {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 50%;
    background-color: var(--main-color);
    left: 0;
    top: 50%;
    transform: scaleY(50%);
}
.heading-text ::before {
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: black;
    bottom: 0;
    left: 12px;
    transform: scaleY(50%);
    border-radius: 10px;
}
.row-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
}

.hot-product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hot-product-item img {
    width: 100%;
    min-height: 500px;
    object-fit: cover;
}

.hot-product-item > p {
    font-weight: var(--main-font-weight);
}

.hot-product-item > span {
    font-size: smaller;
    font-weight: 100;
}

.hot-product-item-price {
    margin-top: 6px;
}

.hot-product-item-price p {
    font-weight: var(--main-font-weight);
}

.hot-product-item-price p span {
    font-weight: 300;
    font-size: small;
    text-decoration: line-through;
}

.product-cart {
    position: relative;
}
.hot-product-item-product-cart {
    position: relative;
}
.product-cart img {
    transition: transform 0.3s ease;
}
.product-cart:hover img {
    transform: scale(1.05);
}
.hot-product-item-product-cart img {
    transition: transform 0.3s ease;
}
.hot-product-item-product-cart:hover img {
    transform: scale(1.05);
}
.add-to-cart-btn {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: white;
    color: black;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 300px; /* Chiều rộng cố định */
}
.product-cart:hover .add-to-cart-btn {
    display: block;
}
.hot-product-item-product-cart:hover .add-to-cart-btn {
    display: block;
}
.hover-effect {
    position: relative;
    overflow: hidden;
}
.hover-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}
.hover-effect:hover::before {
    border-color: black;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}
