.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.menu-item i {
    font-size: 24px;
    margin-right: 10px;
}

.menu-item a {
    text-decoration: none;
    color: inherit;
}

.menu-item:hover {
    color: black;
}

.menu-item:nth-child(2):hover {
    color: #2a9d8f;
}

.menu-item:nth-child(3):hover {
    color: #f57c00;
}

/* css buttom logout */
.custom-logout-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: none;
    transition: all 0.3s ease;
}

.custom-logout-btn a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.custom-logout-btn i {
    margin-right: 8px;
}

.custom-logout-btn:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.custom-logout-btn:hover a {
    color: white;
}


