.custom-sider {
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
}

.custom-contentOutlet {
    height: 100%;
}
