.button-header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.button-header button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 75px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.no-product-message {
    color: #28a745;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.button-header button i {
    font-size: 18px;
}

.button-header button .fa-star {
    font-size: 18px;
}

/* Căn chỉnh giá sản phẩm và icon giỏ hàng */
.product-card-link {
    text-decoration: none;
    color: inherit;
}

.product-card-link:hover .card {
    animation: shake 0.3s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.product-item {
    transition: box-shadow 0.3s ease-in-out;
}

.product-item:hover {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.product-card-link:hover {
    text-decoration: none;
    color: black;
}

/* Tổng định dạng cho product card */
.product-slide {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-item {
  flex: 0 0 auto;
  width: 230px;
  margin: 20px;
  border-radius: 8px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Ảnh sản phẩm */
.product-image {
  height: 250px;
  object-fit: cover;
  width: 100%;
}


/* Thêm thông tin sản phẩm */
.card-body {
  padding: 10px;
  text-align: center;
}

.card-title {
  font-size: 16px;
  color: #333;
  margin: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}


.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #555;
}

.product-price {
    font-weight: 500;
    color: #000000;
    display: flex;
}

.cart-icon {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.cart-icon:hover {
  color: #2a9d8f;
}
