.form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the image upload area */
.img-container,
.img-container-edit {
    width: 150px;
    height: 200px;
    margin-right: 20px;
    border: 1px dashed #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: relative;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: absolute;
}


.img-container-edit img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;

}

.img-container span {
    position: absolute;
    font-size: 14px;
}

.img-container img.show {
    display: block;
}

.img-container:hover {
    background-color: #e9ecef;
}

.custom-btn-upload-admin i {
    margin-right: 8px;
    font-weight: bold;
}

.custom-btn-upload-admin:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.checkbox-group div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox-group{
    margin-left: 10px;
}

.checkbox-group.size-group div,
.checkbox-group.color-group div {
  flex-basis: 48%;
  margin-right: 4%;
}

.checkbox-group.size-group div:nth-child(2n),
.checkbox-group.color-group div:nth-child(2n) {
  margin-right: 0;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}
