.form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the image upload area */
.img-container {
    width: 150px;
    height: 200px;
    margin-right: 20px;
    border: 1px dashed #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: relative;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: absolute;
}

.img-container span {
    position: absolute;
    font-size: 14px;
}

.img-container img.show {
    display: block;
}

.img-container:hover {
    background-color: #e9ecef;
}

.button-group .btn {
    margin-right: 10px;
    float: right;
    background-color: #000;
    border: 1px solid #000;
}

.button-group .btn:hover {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000;
}

.custom-btn-upload-admin {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-btn-upload-admin i {
    margin-right: 8px;
    font-weight: bold;
}

.custom-btn-upload-admin:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.custom-form-container{
    padding: 10px 20px;
}

.custom-label{
    margin-left: 8px;
}

.checkbox-group div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.checkbox-group.size-group div,
.checkbox-group.color-group div {
  flex-basis: 48%;
  margin-right: 4%;
}

.checkbox-group.size-group div:nth-child(2n),
.checkbox-group.color-group div:nth-child(2n) {
  margin-right: 0;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}

.custom-label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.form-control:focus {
    border-color: #2a9d8f;
    box-shadow: 0 0 5px #2a9d8f;
}

.form-control:focus {
    background-color: #e8f8f1;
}
