* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}

.header-right, .menu-header-item, .nav-link.custom-Navlink {
  display: flex;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

a:hover {
  color: #666;
  text-decoration: none;

}

.icon-home, .icon-user, .icon-dashboard, .icon-management, .icon-category,
.icon-product, .icon-size, .icon-color, .icon-tags, .icon-shipping,
.icon-orders, .icon-account {
  font-size: 20px;
  margin-right: 5px;
}

.menu-header-item, .nav-link.custom-Navlink {
  font-size: 14px;
}

.menu-header-item:hover, .nav-link.custom-Navlink:hover {
  color: #666;
}

/* dropdown menu */
.dropdown-menu, .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-menu a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-weight: 400;
    color: #212529;
    white-space: nowrap;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}


.dropdown-menu.show, .submenu.show {
    display: block;
}

.arrow {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.arrow.up {
    transform: rotate(180deg);
}


/* Menu */
.menu {
    border-top: 1px solid #666;
    height: 60px;
}

.menu-list {
  width: 80%;
  list-style: none;
  margin: 0px auto;
  padding: 15px;
}

.menu-list li {
  margin: auto 1px;
  position: relative;
  height: 45px;
}

.menu-list li.active{
  margin: auto 1px;
  position: relative;
  height: 45px;

}

.menu-list li:hover {
    border-bottom: 3px solid #212529;
}
.menu-list li.hover ,
.menu-list li.active {
    border-bottom: 3px solid #212529;
}

.menu-list li a {
  color: #555;
  font-size: 18px;
  padding: 5px;
}

.menu-list li a i {
  margin-right: 8px;
  font-size: 18px;
}

/* Hiệu ứng active cho menu cha */
.dropdown.active > li {
  background-color: #e9ecef;
  border-bottom: 3px solid #212529;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  z-index: 1000;
  width: 15vw;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submenu .show {
  display: block;
}

.submenu li {
    list-style: none;
    padding: 0 10px;
}

.submenu li a {
    display: flex;
    color: #212529;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
}

.arrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.toggle-link.active .arrow {
  transform: rotate(180deg);
}
