#auth-page {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.col-md-8 {
    padding: 50px;
    background-color: white !important;
    border-right: 2px solid #ddd;
}

.col-md-4 {
    padding: 0;
    background-color: #fff;
}

.custom-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Đảm bảo các phần tử trong form xếp theo chiều dọc */
}

.custom-form-control {
    text-align: center;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-slide {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-content {
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active .carousel-content {
    opacity: 1;
}

.carousel-title {
    font-size: 32px;
    font-family: "SVN-Bold", sans-serif;
    color: white;
    margin-bottom: 15px;
}

.carousel-description {
    font-size: 18px;
    font-family: "SVN-Regular", sans-serif;
    color: white;
    text-align: justify;
}

.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.or-divider:before,
.or-divider:after {
    content: "";
    flex: 1;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}

.or-divider span {
    position: absolute;
    top: -12px;
    background: #fff;
    padding: 0 10px;
}

.form-control {
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background-color: #f0f0f0 !important;
}

.form-control:focus {
    border-color: #0f6d5e !important;
    box-shadow: 0 0 5px rgba(15, 109, 94, 0.5) !important;
}

.form-check-input:checked {
    background-color: #0d5b4d !important;
    border-color: #28a745 !important;
}

.btn-success {
    background-color: #0f6d5e;
    border: none;
}

.btn-success:hover {
    background-color: #0d5b4d;
    transition: background-color 0.3s;
}

.register-link {
    color: #0f6d5e;
    text-decoration: none;
}

.custom-input-user-right {
    float: left;
    width: 90%;
}

.custom-input-user-left {
    float: right;
    width: 90%;
}

.input-error {
    border: 1px solid red;
}

.custom-form-auth {
    width: 70%; /* Đảm bảo form chiếm hết chiều rộng của container */
    box-sizing: border-box; /* Đảm bảo padding không làm rộng form */
    background-color: #fff; /* Tạo nền cho form */
    border-radius: 8px; /* Tạo các góc bo cho form */
}

.password-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.password-input-wrapper input {
    flex: 1;
    padding-right: 2.5rem;
}

.eye-icon {
    position: absolute;
    right: 35px;
    height: 47px;
    color: #888;
    font-size: 1.2rem;
}
