.g-0 {
    height: 160px;
}

.nav-link {
    position: relative;
    padding-right: 20px;
    color: inherit !important;
}

.custom-Navlink::after {
    content: "|";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    color: #151515;
}

.nav-link:last-child::after {
    content: "";
}

.nav-link:hover,
.nav-link .home-icon:hover,
.nav-link .user-icon:hover,
.nav-link .shop-icon:hover {
    color: #808080;
}

.custom-text a {
    color: #808080;
    font-size: 14px;
    text-decoration: none;
    margin-right: 18px;
}

.custom-text a:hover {
    color: #555;
}

.custom-text p {
    color: #808080;
    font-size: 13px;
}

.search-icon {
    margin-right: 5px;
}

.nav-link .home-icon,
.nav-link .user-icon,
.nav-link .shop-icon {
    color: #151515;
}

.top-bar {
    background-color: #effff4;
    color: #00ab56;
    text-align: center;
    padding: 5px;
    font-size: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-bottom {
    position: sticky; /* Cố định top-bar khi cuộn */
    top: -18px;
    width: 100%;
    z-index: 1100; /* Đặt top-bar ở trên header */
    background: #f8f9fa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Thêm bóng để header nổi bật */
}

.top-bar .logo-small {
    width: 30px;
    margin-right: 10px;
}

.header-nav ul {
    list-style: none;
}

.header-nav li {
    color: gray;
}

.header-nav .dropdown-menu li {
    color: gray;
}

.header-nav a {
    color: gray;
    text-decoration: none;
}

.header-nav .dropdown-menu a {
    color: gray;
    text-decoration: none;
}
