html,
body,
#root,
.ant-layout {
    height: 100%;
    margin: 0;
}

/* Làm cho Sider kéo dài đầy đủ chiều cao */
.custom-sider {
    min-height: 100vh; /* Chiều cao tối thiểu của sidebar là 100% chiều cao của viewport */
}

/* Đảm bảo Content có chiều cao đầy đủ */
.custom-contentOutlet {
    min-height: calc(100vh - 90px); /* Trừ chiều cao header */
    overflow-y: auto; /* Đảm bảo content có thể cuộn nếu nội dung dài */
}

.custom-sider {
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
}

.custom-contentOutlet {
    height: 100%;
}
