.quan-ly-container {
    margin: 20px;
}

.header-table {
    margin-bottom: 20px;
}

.title-css {
    font-size: 24px;
    margin-left: 15px;
}

.table {
    margin-top: 10px;
}

.table .ant-btn {
    display: flex;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: 15px;
}
.detail-container {
    display: flex;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.info-container {
    flex: 2;
    padding: 20px;
}

.product-name {
    font-size: 24px;
    font-weight: 300;
}

.product-price {
    color: red;
    font-size: 14px;
}

.date-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
}
