#carouselExampleFade {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.carousel-inner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-fit: contain;
}
